@font-face {
    font-family: gratefulDead;
    src: url(../font/Griffinize-oxOV.ttf);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

aside {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #00FBED;
    background-image: url("../images/cloudy.svg");
    border-radius: 2rem;
    background-size: 80%;
}

body {
    background-color: grey;
    font-family: 'Wendy One', sans-serif;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: none;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: white;
    font-size: 6rem;
    font-family: gratefulDead;
    font-weight: 600;
    text-shadow: .25rem .25rem black;
}

h2 {
    animation: fadein 2s;
}

header {
    text-align: center;
    background-color: none;
    /* background-image: url("../images/cloudy.svg"); */
    background-size: 70%;
}

img {
    z-index: 2;
}

li {
    cursor: pointer;
    animation: fadein 2s;
    list-style-type: none;
}

ul {
    height: 14rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 2rem;
}

.card {
    animation: fadein 2s;
    background-color: #00FBED;
}

.card-item {
    padding-left: 1rem;
}

.jumbotron {
    margin-top: 2rem;
    width: 80%;
    margin-left: 3rem;
    border-radius: 2rem;
    background-image: url("../images/cloudy.svg");
    background-size: 70%;
    background-color: #00FBED;
}

#card-list {
    height: 3rem;
    padding: 0rem;
}

#grey {
    color: crimson;
}

#icon-box {
    background-color: cornflowerblue;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 1;
}

#main-row {
    height:25rem;
}

#placeholder-detail {
    padding-top: 5rem;
}

#submit-button {
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 2rem;
}

#touch {
    color: cornflowerblue;
}

#user-input {
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
}

#weather-details {
    background-color: white;
}

#weather-icon {
    z-index: 3;
}
